[submodule "ArcJoy_Prg/src/IHal"]
	path = ArcJoy_Prg/src/IHal
	url = https://github.com/kryzysoft/IHal.git
[submodule "ArcBase_Prg/src/IHal"]
	path = ArcBase_Prg/src/IHal
	url = https://github.com/kryzysoft/IHal.git
[submodule "ArcJoy_Prg/src/nRF_Hal"]
	path = ArcJoy_Prg/src/nRF_Hal
	url = https://github.com/kryzysoft/nRF_Hal.git
[submodule "ArcBase_Prg/src/nRF_Hal"]
	path = ArcBase_Prg/src/nRF_Hal
	url = https://github.com/kryzysoft/nRF_Hal.git
